<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <services>
            <service name="UNOLibrary.Networking.UnoGame">
            <endpoint 
                address="net.tcp://localhost:14000/UNOLibrary/UnoGame"
                binding="netTcpBinding"
                contract="UNOLibrary.Networking.IUnoGame"
			/>
            </service>
        </services>
    </system.serviceModel>
</configuration>
